@-webkit-keyframes post-ani {
  25% {
    transform: rotate(2deg) scale(1.01);
  }
  50% {
    transform: rotate(0deg) scale(1);
  }
  75% {
    transform: rotate(-2deg) scale(1.01);
  }
}
@keyframes post-ani {
  25% {
    transform: rotate(2deg) scale(1.01);
  }
  50% {
    transform: rotate(0deg) scale(1);
  }
  75% {
    transform: rotate(-2deg) scale(1.01);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgb(18, 24, 98);
  font-family: "Do Hyeon", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

header.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #5755e8;
  color: #e9e95a;
}
header.title > h1 {
  color: #e9e95a;
  font-size: 3rem;
}
header.title > h1:hover {
  cursor: pointer;
}

.header__container {
  display: flex;
  place-items: center;
  gap: 1rem;
}
.header__container > span {
  color: #e9e95a;
}
.header__container > span:hover {
  cursor: pointer;
}
.header__container > a {
  padding: 0.5rem;
  border: 0.4rem solid #e9e95a;
  border-radius: 2rem;
  font-size: 1.5rem;
  text-decoration: none;
}
.header__container > a:hover {
  background-color: #e9e95a;
  color: white;
  cursor: pointer;
}

.profile__container {
  width: 4em;
  height: 4rem;
  border-radius: 70%;
  overflow: hidden;
}
.profile__container > img {
  width: 100%;
  height: 100%;
}
.profile__container > img:hover {
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  height: 5rem;
  padding: 1rem 2rem;
  background-color: #7a78d7;
}
nav .input__wrapper {
  padding: 0.3rem 1rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.3rem;
  background-color: white;
  text-align: center;
  cursor: pointer;
  z-index: 1;
}
nav input {
  font-size: 1.3rem;
  border: none;
  background-color: white;
  cursor: pointer;
}

.nav__list {
  display: flex;
  place-items: center;
  gap: 1rem;
  background-color: #7a78d7;
}
.nav__list li {
  display: flex;
  place-items: center;
  gap: 0.2rem;
  font-size: 1.3rem;
}
.nav__list li:hover {
  cursor: pointer;
  border-bottom: 0.2rem solid rgb(18, 24, 98);
}

.time__item {
  padding: 0.3rem 1rem;
  background-color: white;
  border-top: 0.1rem solid #7a78d7;
}
.time__item:hover {
  background-color: #7a78d7;
}

main {
  display: flex;
  height: 100vh;
  overflow-x: hidden;
  background-color: #f2f1d5;
}
main > span {
  position: absolute;
  padding: 1rem 2rem;
}

.prve_btn {
  left: 1rem;
}

.next_btn {
  right: 1rem;
}

section {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 3rem;
  padding-right: 1rem;
  transition: all 1s;
  background-color: #f2f1d5;
}

article {
  display: flex;
  flex-direction: column;
  width: 40rem;
  height: 25rem;
  margin: 1rem 0.4rem;
  border: 0.1rem solid #e9e95a;
  border-radius: 0.8rem;
  background-color: #e9e95a;
  overflow: hidden;
}
article:hover {
  opacity: 0.9;
  -webkit-animation: post-ani 0.8s linear 1;
          animation: post-ani 0.8s linear 1;
}
article > a {
  height: 7rem;
  padding: 1rem;
  font-size: 0.8rem;
  text-decoration: none;
}
article > a > h3 {
  padding: 0.3rem 0;
  font-size: 1rem;
}
article > .velog__data {
  padding: 1rem;
  border-bottom: 0.1rem solid black;
  font-size: 0.4rem;
}

.velog__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.velog__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.velog__footer .velog__footer__profile,
.velog__footer .velog__footer__likes {
  display: flex;
  place-items: center;
  gap: 0.2rem;
}

.velog__footer__image {
  width: 2em;
  height: 2rem;
  border-radius: 70%;
  overflow: hidden;
}
.velog__footer__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal .modal__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  top: 30%;
  left: 40%;
  width: 20rem;
  height: auto;
  margin: 1rem 0.4rem;
  border: 0.1rem solid #e9e95a;
  border-radius: 0.8rem;
  background-color: #e9e95a;
}

.hide {
  display: none;
}

.select {
  color: white;
  background-color: #7a78d7;
}

@media all and (min-width: 321px) and (max-width: 768px) {
  article {
    width: 70rem;
  }
}
@media all and (min-width: 769px) and (max-width: 1024px) {
  article {
    width: 50rem;
  }
}
@media all and (min-width: 1025px) {
  article {
    width: 20rem;
  }
}/*# sourceMappingURL=style.css.map */